

<p id="validate_answer"> </p>

<div id="questions">

  <div id= "mixtery">
    <h1>Mixtery</h1>
  </div>

  <ul>
    <% @tracks_hash.each do |name, mocks| %>
    <li>
      </br>
      <audio controls>
        <source src ="/assets/<%= name %>.mp3" type="audio/mpeg">
      </audio>
    </br>
  </br>
      <% mocks.each do |mock| %>
        <input type="radio" value="<%= mock.name %>" data="<%= true if mock.class == Track %>"><%= mock.name %><br>
        </br>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>

