<h1>Listing tracks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
  <td>
    <audio controls>
      <source src ="/assets/example_song.mp3" type="audio/mpeg">
    </audio>
  </td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_track_path %>
