<h1>Listing tracks</h1>

<ul>
  <% @tracks.each do |track| %>
  <li>
    <%= track.name %>
    <audio controls>
      <source src ="/assets/<%= track.name %>.mp3" type="audio/mpeg">
    </audio>
    <input type="radio" value="">Male<br>
    <input type="radio" value="female">Female
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Track', new_track_path %>
