// Place all the styles related to the Tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #validate_answer {
// }

.right_answer_status{
  font-weight: bold;
  color: green;
}

.wrong_answer_status{
  font-weight: bold;
  color: red;
}

h1{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#questions{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display:block;
  border: 1px solid;
  background-color: #D2B48C;
  opacity: 0.9;
}

ul {
  list-style: none;
}

body
{
  background-color: black;
}

#entire_app
{
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
	background-image:url('magnifying-glass.jpg');
	// background-repeat:no-repeat;
	background-color:#cccccc;
}

h1
{
	font-family: 'Tangerine', 'cursive';
	font-size: 500%;
}